<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <title>Employees</title>
</head>
<body>
<div class="navigation-bar">
  <div class="navigation-links">
    <a href="/">Home</a>
    <a href="/product">Products</a>
    <a href="/store-product">Store Products</a>
    <a href="/category">Categories</a>
    <a href="/employee" class="active">Employees</a>
    <a href="/customer-card">Customer Cards</a>
    <a href="/check">Checks</a>
  </div>

  <div class="account-menu">
    <button class="account-btn">👤</button>
    <div class="dropdown-menu">
      <a href="/profile">My Profile</a>
      <form th:action="@{/logout}" method="post" style="margin: 0;">
        <button class="logout-btn" type="submit">Log Out</button>
      </form>
    </div>
  </div>
</div>
<h2>Employees</h2>

<a th:href="@{/employee/add}">Add employee</a>

<form th:action="@{/employee/search}" method="get">
  <input type="text" name="surname" placeholder="Search by surname">
  <button type="submit">Search</button>
</form>

<p th:if="${searchSurname}">
  Search results for surname: <b th:text="${searchSurname}"></b>
</p>

<ul>
  <li th:each="employee : ${employees}">
    <span th:text="${employee.idEmployee}"></span>
    |
    <span th:text="${employee.emplSurname}"></span>
    <span th:text="${employee.emplName}"></span>
    <span th:text="${employee.emplPatronymic}"></span>
    |
    <span th:text="${employee.emplRole}"></span>
    |
    <span th:text="${employee.salary}"></span>грн
    |
    <span th:text="${employee.dateOfBirth}"></span>
    |
    <span th:text="${employee.dateOfStart}"></span>
    |
    <span th:text="${employee.city}"></span>
    |
    <span th:text="${employee.street}"></span>
    |
    <span th:text="${employee.zipCode}"></span>

    <a th:href="@{/employee/edit/{idEmployee}(idEmployee=${employee.idEmployee})}">Edit</a>

    <form th:action="@{/employee/delete/{idEmployee}(idEmployee=${employee.idEmployee})}" method="post" style="display:inline;">
      <button type="submit">Delete</button>
    </form>
  </li>
</ul>
</body>
</html>