<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Login</title>
</head>
<body class="login-page" style="background-image: url('/static/images/login-back.jpg')">
<div class="login-container">
    <h2 class="login-title">Login</h2>

    <div th:if="${param.error}" class="error-message message">
        Invalid username or password
    </div>

    <div th:if="${param.logout}" class="success-message message">
        You have been logged out
    </div>

    <form class="login-form" th:action="@{/login}" method="post">
        <div class="login-form-sector">
            <label class="login-form-label" for="username">Username:</label>
            <input class="login-form-input" type="text" id="username" name="username" required>
        </div>

        <div class="login-form-sector">
            <label class="login-form-label" for="password">Password:</label>
            <input class="login-form-input" type="password" id="password" name="password" required>
        </div>

        <button type="submit" class="login-btn">Log in</button>
    </form>
</div>
</body>
</html>